﻿* {
	/* border: 1px solid orange; */
	box-sizing: border-box;
}

body {
	font-family: 'Quattrocento', serif;
	font-size: 3vmin;
	height: 100%;
	margin: 0;
}

footer {
	background-color: #124B72;
	color: white;
	font-size: 1.5vmin;
	padding: 3vmin;
	text-align: center;
}

nav {
	background-color: #124B72;
	display: flex;
	margin: 1.5vmin;
	padding: 1.5vmin;
	position: fixed;
	top: 0;
	z-index: 9999;
}

	nav img {
		float: left;
		height: auto;
		width: 7vmin;
	}

p {
	line-height: 200%;
	margin: 0;
	padding: 0;
}

.content-entry-container {
	display: flex;
	justify-content: center;
	padding-bottom: 9vmin;
 	padding-left: 5vmin;
	padding-right: 5vmin;
	padding-top: 9vmin;
	width: 100%;
}

	.content-entry-container:nth-child(2n) {
		background-color: #4B6A89;
		color: #F5C300;
	}

	.content-entry-container:nth-child(4n) {
		background-color: #F5C300;
		color: black;
	}

#cards {
	text-align: center;
}
	#cards div {
		width: 90vmin;
	}

		#cards div img {
			width: 100%;
		}

#description img {
	filter: drop-shadow(.5vmin .5vmin .5vmin #222);
	float: left;
	margin-right: 3vmin;
	width: 25vmin;
}

#description p {
	text-align: justify;
	width: 85vmin;
}

#logo {
	width: 60vmin;
}

	#logo img {
		width: 100%;
	}

#tagline {
	color: #F5C300;
	font-size: 4vmin;
	padding-bottom: 3vmin;
	padding-top: 3vmin;
	text-align: center;
	text-shadow: 1px 1px black;
}